@{
    ViewBag.Title = "Home Page";
}
@model MvcGrid.Models.GridModel

@{ 
    Model.JsSortFunction = "sortGrid";
}
<div id="divGridTest">
    @Html.Partial("_Grid", Model)
</div>

<script>
    function sortGrid(orderField, isAsc){
        $.get("@Url.Content("~/Home/GetGrid")", {OrderField:orderField, IsAsc:isAsc, t:new Date().getTime()},function(data){ 
            jq.log("sortGrid OK: " + data , 50);
            jq.get("#divGridTest").html(data);
        });
    }
</script>
