body {
    padding-bottom: 20px;
    background-color:#eee;
    font-size:12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.textbox {
    border:solid 1px #a2afb7;
    border-radius:3px;
    padding:2px;
    background:-webkit-linear-gradient(top,#fffef7,#fff);
    background:-moz-linear-gradient(top,#fffef7,#fff);
    margin:0 2px;
}
.textbox:hover{
     background:-webkit-linear-gradient(top,#fcfaeb,#fff);
    background:-moz-linear-gradient(top,#fcfaeb,#fff);
}

.button{ 
    margin:0 5px;
    margin-top:-1px;
    border:solid 1px #b1c4d1;
    border-radius:3px;
    padding:1px 5px 2px 5px;
    background:-webkit-linear-gradient(top,#edf6fe,#fff);
    background:-moz-linear-gradient(top,#edf6fe,#fff);
}
.button:hover{
    background:-webkit-linear-gradient(top,#c5ebfa,#fff);
    background:-moz-linear-gradient(top,#c5ebfa,#fff);
}

span.button{ height:23px; line-height:23px; padding:0 8px; display:inline-block; cursor:default; }

.row{display:block; padding:2px 0; margin:3px; clear:both;}
.row::after{ content:" "; clear:both; }
.col{ float:left; display:inline-block; }
.col12{width:99.5%; float:left; display:block; } 
.col11{width:88.9%; float:left; display:inline-block;  }
.col10{width:80.8%; float:left; display:inline-block; }
.col9{width:72.72%; float:left; display:inline-block; }
.col8{width:64.64%; float:left; display:inline-block; }
.col7{width:56.56%; float:left; display:inline-block; }
.col6{width:48.48%; float:left; display:inline-block; }
.col5{width:40.40%; float:left; display:inline-block; }
.col4{width:32.32%; float:left; display:inline-block; }
.col3{width:24.24%; float:left; display:inline-block; }
.col2{width:16.16%; float:left; display:inline-block; }
.col1{width:8.08%; float:left; display:inline-block; }
.col1h{width:12.12%; float:left; display:inline-block; }

.label{text-align:right; width:120px; display:inline-block;}

.debug{font-size:11px; color:#ad6969;}

.apptitle{font-size:16px; text-decoration:none; color:#4a4630; height:30px; line-height:30px; padding:10px; font-weight:bold;}

.menu{background-color:#b1c4d1; border-radius:3px; padding:5px; font-size:14px;}
.menu a{font-size:12px; text-decoration:none; color:#112bff; display:inline-block; padding:3px;}
.menu a:hover{color:#818efa;}

.icon{border:solid 1px #c5ebfa; background-color:#daf2fb; cursor:pointer; text-align:center; color:#ba5858;
       display:inline-block; width:18px; height:18px; position:relative;  line-height:18px;}

.list{ display:block; background-color:antiquewhite; border:solid 1px #ccc;  width:320px; cursor:default; color:#444; position:absolute; z-index:88;}
.list div{padding:2px 5px;}
.list div:hover{color:#4357fa;}

.nowrap{white-space:nowrap;}

.mask{position:fixed; top:0; left:0; right:0; bottom:0; opacity:0.85; background-color:#ccc; z-index:9990; display:none; font-size:16px; color:#666;font-weight:bold; }
.mask .title{background:background:-webkit-linear-gradient(top,#edf6fe,#c4bdbd); background:-moz-linear-gradient(top,#edf6fe,#c4bdbd); text-align:center; height:30px; cursor:pointer;}
.popmsg{position:fixed; top:0; left:0; right:0; bottom:0;  z-index:9999; margin:30px; display:none;}
.window{position:fixed; top:0; left:0; right:0; bottom:0;  z-index:9999; margin:30px; display:none; border:solid 1px #aaa;border-radius:5px; background-color:#ededed;}
.window .title{background:background:-webkit-linear-gradient(top,#edf6fe,#c4bdbd); background:-moz-linear-gradient(top,#edf6fe,#c4bdbd); text-align:center;  font-size:14px; padding:5px; color:#495862; position:relative; cursor:default; }
.window .title .close{position:absolute; top:5px; right:8px;cursor:pointer; color:#ad3939;}
.window .body{overflow:auto; padding:5px;}

.loading{position:fixed; width:50px; height:30px; margin-left:-25px; margin-top:-15px; top:50%; left:50%; background-color:#c5ebfa; border:solid 1px #bbb; }


