body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.textbox {
    border:solid 1px #a2afb7;
    border-radius:3px;
    padding:2px;
    background:-webkit-linear-gradient(top,#fffef7,#fff);
    background:-moz-linear-gradient(top,#fffef7,#fff);
    margin:0 2px;
}
.textbox:hover{
     background:-webkit-linear-gradient(top,#fcfaeb,#fff);
    background:-moz-linear-gradient(top,#fcfaeb,#fff);
}

.button{ 
    margin:0 5px;
    margin-top:-1px;
    border:solid 1px #b1c4d1;
    border-radius:3px;
    padding:1px 5px 2px 5px;
    background:-webkit-linear-gradient(top,#edf6fe,#fff);
    background:-moz-linear-gradient(top,#edf6fe,#fff);
}
.button:hover{
    background:-webkit-linear-gradient(top,#c5ebfa,#fff);
    background:-moz-linear-gradient(top,#c5ebfa,#fff);
}

.row{display:block; overflow:hidden; padding:2px 0;}
.row::after{ content:" "; clear:both;}
.col12{width:99.5%; float:left; display:block;} 
.col11{width:88.9%; float:left; display:inline-block;}
.col10{width:80.8%; float:left; display:inline-block;}
.col9{width:72.72%; float:left; display:inline-block;}
.col8{width:64.64%; float:left; display:inline-block;}
.col7{width:56.56%; float:left; display:inline-block;}
.col6{width:48.48%; float:left; display:inline-block;}
.col5{width:40.40%; float:left; display:inline-block;}
.col4{width:32.32%; float:left; display:inline-block;}
.col3{width:24.24%; float:left; display:inline-block;}
.col2{width:16.16%; float:left; display:inline-block;}
.col1{width:8.08%; float:left; display:inline-block;}
.col1h{width:12.12%; float:left; display:inline-block;}

.label{text-align:right;}

.debug{font-size:11px; color:#ad6969;}