@using MvcGrid.Models

@{
    ViewBag.Title = "Code Generator";
}

@model ViewBuilderIndexModel

<h2>Index</h2>
<form id="formFields">
    <div class="row">
        <span class="col1h label">Category Name:</span>
        <input type="text" name="CategoryName" class="col1 textbox" />
        <span class="col1 label">Field Name:</span>
        <input type="text" name="FieldName" class="col1 textbox" />
        <input id="btnSearchField" type="button" class="button" value="Search Fields" />

        <input id="btnGenerateCode" type="button" class="button" value="Generate View" />
    </div>
    <div id="divFields">
        @Html.Action("SearchFields", "ViewBuilder")
    </div>

    <div id="divCodes">
        <div>Codes:</div>
        <pre>
<textarea id="txtCodes" style="width:1100px; height:220px;"></textarea>
        </pre>
    </div>
</form>

<script>
    $(function () {
        $.ajaxSetup({
            cache: false
        });

        //Search Fields
        $("#btnSearchField").click(function () {
            var url = "@Url.Content("~/ViewBuilder/SearchFields")";
            var args = $("#formFields").serialize();
            $.post(url, args, function (data) {
                $("#divFields").html(data);
            })
        })

        //Generate Codes
        $("#btnGenerateCode").click(function () {
            var url = "@Url.Content("~/ViewBuilder/Generate")";
            var args = $("#formFields").serialize();
            $.post(url, args, function (data) {
                $("#txtCodes").html(data);
            })
        })
    })
</script>
