@using System.Data

@model MvcGrid.Models.SearchFieldsModel

@{
    ViewBag.Title = "SearchFields";

    Layout = null;
}

<div style="width:1350px; height:320px; ">
    @if (Model != null && Model.GridModel.Data != null)
    {
        @Html.Partial("_Grid", Model.GridModel)

        <div class="debug">
            @Html.Raw(DbHelper.GetThreadSqls())
        </div>
    }
    else
    {
        <div>Please enter filter.</div>
    }

</div>