@using System.Data

@model MvcGrid.Models.SearchFieldsModel

@{
    ViewBag.Title = "SearchFields";

    Layout = "~/Views/Shared/_Partial.cshtml";
}

<div style="width:1350px; height:320px; overflow:auto; ">
    @if (Model != null && Model.GridModel.Data != null)
    {
        @Html.Partial("_Grid", Model.GridModel) 
    }
    else
    {
        <div style="padding:20px; color:#555;">...</div>
    }

</div>