
<!-- grid  template -->
<script type="text/x-template" id="grid-template">
    <table class="grid">
        <thead>
            <tr>
                <td v-for="key in columns"
                    v-on:click="sortBy(key)"
                    v-bind:class="{active: sortKey == key}">
                    {{key.FieldLabel | capitalize}}
                    <span class="arrow"
                          v-bind:class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="
                entry in data
                | filterBy filterKey
                | orderBy sortKey sortOrders[sortKey]">
                <td v-for="key in columns">
                    {{entry[key.FieldName]}}
                </td>
                <td><a href="javascript:void(0);" v-on:click="addField(entry)">Add</a></td>
            </tr>
        </tbody>
    </table>
</script>

<script>
    // register the grid component
    Vue.component('grid', {
        template: '#grid-template',
        props: {
            data: Array,
            columns: Array,
            filterKey: String,
            keyName:String,
        },
        data: function () {
            var sortOrders = {}
            $.each(this.columns, function (index, item) {
                sortOrders[item] = 1;
            });

            return {
                sortKey: '',
                sortOrders: sortOrders
            }
        },
        methods: {
            addField: function (entry) {
                    //debugger;
                    //var keyField = this._props.keyName.raw;
                    //alert(entry[keyField]);
                this.$dispatch('select', entry);
                },
            sortBy: function (key) {
                this.sortKey = key;
                this.sortOrders[key] = this.sortOrders[key] * -1
            }
        },
        events:{
            select: function (entry) {

            }
        }
    })
</script>