
<div id="FieldInfoArea" class="area" style="width:230px; margin-top:10px;"
     data-url-save="@Url.Content("~/Home/SaveCategoryField")">
    <div class="title">Field Info  </div>

    <div class="data" v-if="Field != null">
        <label class="label">Field Name:</label>
        <span class="value">
            <input readonly class="textbox readonly" type="text" v-model="Field.FieldName" style="width:150px;" />
        </span>

        <label class="label">Table Name:</label>
        <span class="value">
            <input readonly class="textbox readonly" type="text" v-model="Field.TableName" style="width:150px;" />
        </span>

        <label class="label">Field Label:</label>
        <span class="value">
            <input class="textbox" type="text" v-model="FieldLabel" style="width:150px;" />
        </span>

        <label class="label">Entity Property Name:</label>
        <span class="value">
            <input class="textbox" type="text" v-model="EntityProperty" style="width:150px;" />
        </span>

        <label class="label">Order Index:</label>
        <span class="value">
            <input class="textbox" type="text" v-model="ControlIndex" style="width:150px;" />
        </span>

        <label class="label">Control Type:</label>
        <span class="value">
            <select class="textbox" type="text" v-model="Field.ControlTypeId" style="width:150px;">
                <option v-for="ctlType in ControlTypes" v-bind:value="ctlType.ControlTypeId">{{ctlType.ControlTypeName}}</option>
            </select>
        </span>

        <div style="text-align:center; padding:5px;">
            <button class="button" v-on:click="save">Save</button>
        </div>

    </div>
</div>

<script>

    veField = new Vue({
        el: '#FieldInfoArea',
        data: {
            Field: null, CategoryId: 0, FieldLabel: "", ControlIndex: "", EntityProperty: "",
            ControlTypeId: 0, ControlTypes: []
        },
        methods: {
            save: function () {
                var url = $(this.$el).attr("data-url-save");
                var field = veField.Field;
                field.CategoryId = this.CategoryId;
                field.FieldLabel = this.FieldLabel;
                field.EntityProperty = this.EntityProperty;
                field.ControlIndex = this.ControlIndex;
                $.post(url, field, function (data) {
                    veField.Field.FieldLabel = veField.FieldLabel;
                    veField.Field.ControlIndex = veField.ControlIndex;
                    veField.Field.EntityProperty = veField.EntityProperty;
                    jq.showMsg("Field save successfully.");
                })
            }
        }
    }); // end Field

</script>