@using DevTool.Common;
<script src="~/Views/Home/Index.js"></script>




<style>
    #categories div:hover {
        color: #ba5911;
    }
</style>
<!-- item template -->
<script type="text/x-template" id="treeNode-template">
    <li>
        <div v-bind:class="{bold: isFolder}"
             v-on:click="click">
            {{model.Name}}
            <span v-if="isFolder" v-on:click.stop="toggle">[{{Open ? '-' : '+'}}]</span>
        </div>
        <ul v-show="open" v-if="isFolder">
            <treeNode v-bind:class="item"
                      v-for="model in model.Children"
                      v-bind:model="model">
            </treeNode>
        </ul>
    </li>
</script>

<div style="width:1080px;">
    <div class="area" style="width:300px;">
        <div class="title">Category Tree </div>
        <ul id="CategoriesTree">
            <treeNode class="item" v-bind:model="treeData">
            </treeNode>
        </ul>
    </div>

    <div id="Category" class="area" style="width:410px;" data-url-update="@Url.Content("~/Home/UpdateCategoryName")"  > 
        <div class="title">Category Info </div>
        <div class="row" >
            <label class="label">Current Category Name:</label>
            <span class="value">
                <input id="txtCurrentCategoryName" class="textbox" type="text" v-model="CurrentCategoryName" style="width:150px;" placeholder="Selected Category" />
            </span>

            <button v-on:click="saveCtgName" class="button" title="Save Selected Category Name">Save</button>
        </div>
        <div class="row">
            <label class="label"> Add Child Category:</label>
            <span class="value">
                <input class="textbox" type="text" v-model="ChildCategoryName" placeholder="New Category Name" style="width:150px;" />
            </span>
            <button v-on:click="addChildCtg" class="button" title="Add New Child Category to Selected Category">Add</button>
        </div>

        <div class="title">Fields Info</div>
    </div>

    <div id="FieldInfoArea" class="area" style="width:230px;">
        <div class="title">Field Info </div>
    </div>
</div>


<script>

    var CategoryTreeData =@Html.Raw(UiHelper.ToJsonString(UiHelper.CategoryTree()));

    var CategoryEditorData = { CurrentCategoryName: "", CurrentCategoryId: 0, ChildCategoryName: "", Category:{} };


</script>