
@{
    Layout = null;
}



<!-- demo root element -->
<div id="AllFields" data-url-search="@Url.Content("~/Home/SearchAllFields")">
    <div class="row">
        <label class="label">Search</label> <input name="query" v-model="searchQuery" class="textbox"> <button class="button" v-on:click="Search">Submit</button>
    </div>
    <grid v-bind:data="gridData"
               v-bind:columns="gridColumns" >
    </grid>
</div>
 
 
<script src="~/Views/Home/SelectFields.js"></script>