@using DevTool.Common

@model DevTool.Models.SelectFieldsModel
@{
    Layout = null;
}
 
<!-- demo root element -->
<div id="AllFields" data-url-search="@Url.Content("~/Home/SearchAllFields")" data-url-add="@Url.Content("~/Home/AddFieldToCategory")">
    <div class="row">
        <label class="label" style="width:80px;">Table Name:</label> 
        <input name="query" v-model="TableName" class="textbox" value="@Model.MainTable"/> 
        <label class="label" style="width:80px;">Field Name:</label>
        <input name="query" v-model="FieldName" class="textbox"/> 
        <label class="label" style="width:90px;">Field Label:</label>
        <input name="query" v-model="FieldName" class="textbox"/> 

        <label class="label"><input type="checkbox" v-model="Fuzzy" /> Fuzzy Search</label>
        <button class="button" v-on:click="Search">Search</button>
    </div>
    <div style="height:20px;"></div>
    <grid v-bind:data="gridData" v-bind:key-name="FieldId"  v-on:onselect="select"
          v-bind:columns="gridColumns" >
    </grid>
</div>
 
 
<script > 
    // bootstrap the demo
    var veAllFields = new Vue({
        el: '#AllFields',
        data: {
            TableName: '',
            FieldName: '', 
            gridColumns: [{ FieldName: 'FieldId', FieldLabel: '#' }, { FieldName: 'TableName', FieldLabel: 'Table Name' }, { FieldName: 'FieldName', FieldLabel: 'Field Name' }],
            gridData: @Html.Raw(Model.Fields.ToJson()),
            Fuzzy:false
        },
        methods: {
            Search: function () { 
                var url = $(this.$el).attr("data-url-search") + "?excludedCategoryId=@Request["CategoryId"]";
                $.post(url, { TableName: this.TableName, FieldName: this.FieldName, FieldLabel: this.FieldLabel,fuzzy:this.Fuzzy}, function (datas) {
                    veAllFields.gridData = datas;  // work
                });
            },
            select: function (index, entity) {
                var url = $(this.$el).attr("data-url-add")+"?categoryId=@Request["CategoryId"]";
                $.post(url, entity, function (data) {
                    jq.removeItem(veAllFields.gridData, entity);
                    jq.showMsg("Add Successfully.");
                }); 
            }
        }
    })
</script>